<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form [formGroup]="data" (ngSubmit)="doAction()">
            <div class="form-group">
              <label>Description</label>
              <input formControlName="description" placeholder="Description" type="text" class="form-control">
            </div>
            <div class="form-button">
              <button type="submit" class="btn btn-primary" [disabled]="!data.valid">{{ getAction() }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
