<div class="sidebar-wrapper">
    <div class="logo">
        <a [routerLink]="['/dashboard']" class="simple-text">
            <div class="logo-img">
                <img src="./assets/img/angular.png" alt="">
            </div>
            Angular 2/4
        </a>
    </div>
    <ul class="nav">
        <li *ngFor="let item of menu" [routerLinkActive]="['active']">
            <a [routerLink]="[item.path]">
                <i class="{{ item.icon }}"></i>
                <p>{{ item.title }}</p>
            </a>
        </li>
    </ul>
</div>
