<div class="container-fluid">
	
	<form [formGroup]="data" (ngSubmit)="doAction(data.value)">

		<div class="row">
			
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							Checklist Details
						</div>
					</div>
			        <div class="panel-body">
			            <div class="form-group">
			              <label>Description</label>
			              <input formControlName="description" placeholder="Description" type="text" class="form-control">
			            </div>
			            <div class="form-button">
			              <button type="submit" class="btn btn-primary" [disabled]="!data.valid">{{ getAction() }}</button>
			            </div>
			        </div>
		        </div>
			</div>

			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							Checklist Products
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="product col-lg-4" *ngFor="let item of data.value.items; let i = index;">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="panel-title">
											{{ item.description }}
										</div>
									</div>
									<div class="panel-body">
										<div class="product-img">
											<img (click)="removeItem(i)" src="{{ util.baseURL }}/img/product/{{ item.img }}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							Products
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-4 col-lg-offset-8">
								<div class="form-group">
									<input type="text" placeholder="Search..." class="form-control" [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="product col-lg-4" *ngFor="let item of dataProduct | productPipe : query">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="panel-title">
											{{ item.description }}
										</div>
									</div>
									<div class="panel-body">
										<div class="product-img">
											<img (click)="addItem(item)" src="{{ util.baseURL }}/img/product/{{ item.img }}" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</form>

</div>
