<div class="container-fluid">

  <div class="row">
    <div class="col-lg-9 col-md-6 col-xs-6">
      <a class="btn btn-success" [routerLink]="['/product/create']">New Product</a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-6">
      <input type="text" placeholder="Search..." class="form-control" [(ngModel)]="query">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="overflow-auto">
        <table class="table table-striped" [mfData]="data | productPipe : query" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th><mfDefaultSorter by="description">Description</mfDefaultSorter></th>
              <th><mfDefaultSorter by="category.description">Category</mfDefaultSorter></th>
              <th>Tags</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td><img src="{{ util.baseURL }}img/product/{{ item.img }}" alt="" class="product-img"></td>
              <td>{{ item.description }}</td>
              <td>{{ item.category.description }}</td>
              <td [innerHTML]="getProductTags(item.productTags)"></td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}</td>
              <td>
                <a class="btn btn-xs btn-info" [routerLink]="['/product/view']" [queryParams]="{id: item.product_id}"><i class="fa fa-th-list"></i></a>
                <a class="btn btn-xs btn-primary" [routerLink]="['/product/update']" [queryParams]="{id: item.product_id}"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs btn-danger" (click)="delete(item.product_id)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8"><mfBootstrapPaginator></mfBootstrapPaginator></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</div>
