<div class="container-fluid">
  
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="panel panel-default">
        <div class="panel-body product">
          <div class="product-img">
            <img src="{{ util.baseURL }}img/product/{{ dataProduct?.img }}" alt="">
          </div>
          <div class="product-content">
            <h3><span class="fa fa-briefcase"></span> {{ dataProduct?.description }}</h3>
            <h4><span class="fa fa-th-list"></span> {{ dataProduct?.category?.description }}</h4>
            <h4 [innerHTML]="getProductTags()"></h4>
            <h5><span class="fa fa-leaf"></span> {{ dataProduct?.quantity }}</h5>
            <h5><span class="fa fa-usd"></span> {{ dataProduct?.price }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
